@charset "utf-8";

body{
    background-color: rgb(250, 250, 250);
}

img {   
    max-width: 200px;   
    height: auto;  
    border-radius: 100px;
    float: right;
} 


p.nome{
    font-style: arial;
    color: rgb(23, 7, 253);
    font-size: 50px;
    float: center ;
    
}

div.atributos{
    background-color:rgb(188, 199, 199);

}

p.formacao{
    font-size: 30px;
    font-style: arial;
}


b.obj{
    font-size: 25px ;
    font-style: arial;
}
p.objf{
    font-size: 25px;
}

div.quali{
    background-color:rgb(188, 199, 199);

    font-size: 25px;
}

div.experiencia{
    background-color:rgb(188, 199, 199);
    font-size: 25px;

}


div.idiomas{
    background-color:rgb(188, 199, 199);

    font-size: 25px;
}